body {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(224, 208, 208);
    color: rgb(0, 0, 0);
}
h1 {
    color: rgb(51, 108, 90);
}
.info2 {
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: beige;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
}
#output {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px;
    padding: 15px;
}  