body {
    text-align: center;
    margin-top: 50px;
    background-color: #E3CAA5;
    color: rgb(0, 0, 0);
}
nav{
    background-color: rgba(255, 251, 233, 0.5);
    position: fixed;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.177);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 35px;
}
.nav-link{
    color: rgb(44, 44, 44);
    font-size: 17.8px;
}
.nav-link:hover{
    color: rgb(206, 171, 147);
    font-size: 20px;
    transition: 0.5s;
}
h1 {
    color: rgb(211, 157, 120);
}
.info2 {
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color:  #AD8B73;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
}
#output {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color:  #AD8B73;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px;
    padding: 15px;
}  
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:  rgba(173, 139, 115, 0.5);
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 1px 0;
    font-size: 14px;
}
